body {background: brown;
		}

.img {
	display: inline-block;
	border: medium solid navy;
	padding: 10px;
	}

blockquote {
	font-family: Gill, Helvetica, sans-serif;
	font-size: 200%;
	text-align: center;
	border: 5px navy;}
	}

#facts {
	color: white;
	}


#bgimage {
    background-image: url("dirt.jpg");
}