<h1>daytripper</h1>

<button id="launch">Submit</button>
<div class="container"></div>

<!-- test for spotify play button widget -->
<iframe src="https://embed.spotify.com/?uri=spotify:track:3djNBlI7xOggg7pnsOLaNm&theme=white" width="400" height="200" frameborder="0" allowtransparency="true"></iframe><br><br>

<script src='https://code.responsivevoice.org/responsivevoice.js'></script>
    
<!-- test for responsiveVoice library -->
<input onclick='responsiveVoice.speak("Hello world!");' type='button' value='🔊 Play' /><br><br>


<a href= "https://accounts.spotify.com/authorize/?client_id=e638e9fda4624061ae4662923427484e&response_type=code&redirect_uri=http://localhost:3000/welcome/landing&scope=user-top-read%20playlist-read-private%20playlist-read-collaborative%20user-read-private%20user-read-email">click to query spotify for songs w/ current state in title</a><br>



<iframe src="https://embed.spotify.com/?uri=spotify:trackset:PREFEREDTITLE:5Z7ygHQo02SUrFmcgpwsKW,1x6ACsKV4UdWS2FMuPFUiT,4bi73jCM02fMpkI11Lqmfe" frameborder="0" allowtransparency="true"></iframe>